%% IF specification of XorNSPK_2.hlpsl

section signature:

state_bob: agent * agent * public_key * public_key * nat * text * text * set(agent) * nat -> fact
state_alice: agent * agent * public_key * public_key * nat * text * text * set(agent) * nat -> fact


section types:

secret_nb, secret_na: protocol_id
MGoal, start: message
ka, kb, ki, Kb, Ka: public_key
ASGoal, Set_32, Set_18, Dummy_Set_32, Dummy_Set_18: set(agent)
State, 2, 1, 0, 6, 4, SID, Dummy_State, 3: nat
a, b, B, A, i: agent
Nb, Na, Dummy_Nb, Dummy_Na, dummy_nonce: text
set_64, set_62, set_58, set_50: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(b).
 iknows(ka).
 iknows(kb).
 iknows(ki).
 iknows(inv(ki)).
 iknows(i).
 state_alice(a,b,ka,kb,0,dummy_nonce,dummy_nonce,set_50,3).
 state_bob(b,a,kb,ka,0,dummy_nonce,dummy_nonce,set_58,4).
 state_alice(a,i,ka,ki,0,dummy_nonce,dummy_nonce,set_62,6)


section rules:

step step_0 (A,B,Ka,Kb,Dummy_Na,Nb,Dummy_Set_18,SID,Na) :=
 state_alice(A,B,Ka,Kb,0,Dummy_Na,Nb,Dummy_Set_18,SID).
 iknows(start)
=[exists Na]=>
 state_alice(A,B,Ka,Kb,1,Na,Nb,Dummy_Set_18,SID).
 iknows(crypt(Kb,pair(Na,A))).
 secret(Na,secret_na,Dummy_Set_18).
 contains(A,Dummy_Set_18).
 contains(B,Dummy_Set_18)

step step_1 (A,B,Ka,Kb,Na,Dummy_Nb,Set_18,SID,Nb) :=
 state_alice(A,B,Ka,Kb,1,Na,Dummy_Nb,Set_18,SID).
 iknows(crypt(Ka,pair(Nb,xor(Na,B))))
 =>
 state_alice(A,B,Ka,Kb,2,Na,Nb,Set_18,SID).
 iknows(crypt(Kb,Nb))

step step_2 (B,A,Kb,Ka,Dummy_Na,Dummy_Nb,Dummy_Set_32,SID,Na,Nb) :=
 state_bob(B,A,Kb,Ka,0,Dummy_Na,Dummy_Nb,Dummy_Set_32,SID).
 iknows(crypt(Kb,pair(Na,A)))
=[exists Nb]=>
 state_bob(B,A,Kb,Ka,1,Na,Nb,Dummy_Set_32,SID).
 secret(Nb,secret_nb,Dummy_Set_32).
 iknows(crypt(Ka,pair(Nb,xor(Na,B)))).
 contains(A,Dummy_Set_32).
 contains(B,Dummy_Set_32)

step step_3 (B,A,Kb,Ka,Na,Nb,Set_32,SID) :=
 state_bob(B,A,Kb,Ka,1,Na,Nb,Set_32,SID).
 iknows(crypt(Kb,Nb))
 =>
 state_bob(B,A,Kb,Ka,2,Na,Nb,Set_32,SID)


section properties:

property secrecy_of_secret_na (MGoal,ASGoal) :=
 [] ((secret(MGoal,secret_na,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_secret_nb (MGoal,ASGoal) :=
 [] ((secret(MGoal,secret_nb,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state secrecy_of_secret_na (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secret_na,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_secret_nb (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secret_nb,ASGoal) &
 not(contains(i,ASGoal))

